<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>
        <%= pageTitle%>
    </title>
</head>

<body>
    <h1>this is main page</h1>
    <% if (props.length> 0 ) { %>
        <% for (let product of props ) { %>
            <div>
                <div>
                    <img src="<%= product.imgUrl %>" alt="<%= product.imgUrl %>">
                    <h1>
                        <%= product.title %>
                    </h1>
                    <h2>
                        <%= product.price %>
                    </h2>
                    <h2>
                        <%= product.description %>
                        
                    </h2>
                    <a href="/admin/update-product/<%= product._id %>">Edit</a>
                    <a href="/product/<%= product._id %>">Detail</a>
                    <form action='/cart/<%= product._id %>' method="POST">
                        <button type="submit">Add to cart</button>
                    </form>
                    <form action="/admin/delete-product/<%= product._id %>" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>

            <% } %>



                <% } else { %>
                    <div>No Item!!!</div>
                    <% } %>


</body>

</html>