<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update-product</title>
</head>

<body>
    <form action='/admin/update-product/<%= props.id %>' method='POST'>
        <div>
            <div>
                <label for="updateTitle">updateTitle</label>
                <input type='text' name='updateTitle' id='updateTitle' value="<%= props.title %>"></input>
            </div>
            <div>
                <label for="updatePrice">updatePrice</label>
                <input type='number' name='updatePrice' id='updatePrice' value="<%= props.price %>"></input>
            </div>
            <div>
                <label for="updateDescription">updateDescription</label>
                <textarea type='text' name='updateDescription' row="5"
                    id='updateDescription'><%= props.description %></textarea>
            </div>
            <div>
                <label for="updateImgUrl">updateImgUrl</label>
                <input type='text' name='updateImgUrl' id='updateImgUrl' value="<%= props.imgUrl %>"></input>
            </div>
        </div>

        <button type='submit'>submit</button>
    </form>
</body>

</html>